body {
    margin-left: 50px;
    margin-right: 50px;
}
#top_bar {
    display: grid;
    grid-template-columns: 1.5fr 7fr 3fr;

    height: 70px;

    border-bottom: solid gray 0.1px;
    
    margin-bottom: 10px;
}
#top_bar img {
    /* height: 30px; */
    
    width: 12vw;
    height: 4vw;

    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}
#top_bar input {
    background-color: white;
    border: solid gray 1px;
    border-radius: 5px;
    height: 80%;

    text-align: center;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 10px;
}
#top_bar_icons {
    display: grid;
    grid-template-columns: 30px 1fr 1fr 1fr 1fr 70px;
}
#top_bar_icons span {
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
    font-size: 40px;
}
#profile {
    height: 120px;

    display: grid;
    grid-template-columns: 1.5fr 10fr;
}
#profile_pic {
    width: 7vw;
    height: 7vw;

    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}
#pofile_info {
    display: grid;
    grid-template-rows: 1fr 1fr;
}
#id {
    font-size: 25px;
    font-weight: 200;
    margin-bottom: 5px;
}
button {
    height: 5vw;    
    max-height: 5vw;
    min-height: 5vw;
    width: 85vw;

    font-size: 16px;
    font-weight: 700;

    background-color: white;
    border: solid gray 1px;
    border-radius: 5px;
}
.thumbnail_grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.thumbnail {
    width: 100%;
}

.highlight {
    /* border: solid; */
    text-align: center;
}
.highlight_msg {
    margin-top: 10px;
    font-size: 25px;
}
.highlight_pic {
    width: 5vw;
    height: 5vw;

    margin-left: auto;
    margin-right: auto;
}
#highlight_area {
    display: grid;
    grid-template-columns: 100px 100px 1fr;
}

#stat_bar {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    border-top: 1px solid gray;
    border-bottom: 1px solid gray;

    margin-top: 10px;
    margin-bottom: 10px;
}
.stat {
    text-align: center;
    font-size: 25px;
    font-weight: 300;
}
.circle_pic {
    border: solid gray 1px;
    border-radius: 50%;
    
    width: 100%;
    height: 100%;
    object-fit: cover;
}

